nav > a {
    padding: 5px;
    text-decoration: none;
}

.active {
    color: rgb(3, 3, 5);
}

.header-row {
    width: 100%;
}

.nav-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}